<div class="centered-content">
    <div class="modal-box">
        <h1 class="title has-text-black">Edit list</h1>
        <br>

        <input 
        [(ngModel)]="listTitle" 
        class="input has-background-light is-medium has-text-black" 
        placeholder="Enter list title..."
        type="text"/>
        <br><br>
        
        <div class="buttons is-right">
          <button class="button is-medium" routerLink="/">Cancel</button>
          <button class="button is-primary has-text-white is-medium" (click)="updateList()">Save</button>
        </div>

    </div>
</div>
