<div class="centered-content">
    <div class="modal-box">
        <h1 class="title has-text-black">Edit task</h1>
        <br>

        <label class="label has-text-black">Task Title</label>
        <input
        class="input has-background-light is-medium has-text-black"
        type="text"
        placeholder="Enter task title..."
        [(ngModel)]="taskTitle"
        />
        <br><br>
        
        <label class="label has-text-black">Task Description</label>
        <textarea
          class="textarea has-background-light has-text-black"
          placeholder="Enter task description..."
          [(ngModel)]="taskDescription"
          rows="2"
        ></textarea>
        <br><br>

        <div class="buttons is-right">
          <button class="button is-medium" (click)="goBackToTaskList()">Cancel</button>
          <button class="button is-primary has-text-white is-medium" (click)="updateTask()">Save Task</button>
          
        </div>

    </div>
</div>
